.player {
    display: flex;
    width: 300px;
    align-items: center;
    background-color: orange;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: 24px;
        margin-left: 16px;
    }
    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}