.card {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 8px 0 0 8px;
}

mat-card {
    @media (max-width: 720px) {
        min-height: 150px;
    }
}